body {
  padding: 0;
  margin: 0;
}

#map-id,
body,
html {
  height: 100%;
}

.info {
  padding: 5px 15px;
  background: grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: grey;
}
.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  opacity: 0.7;
}